body {
  counter-reset: game;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.main-icon {
  width: 300px;
  height: 300px;
}

.selector:checked {
  counter-increment: game;
}

.counter::after {
  content: counter(game);
}

ul,
h2 {
  display: none;
}

.screen {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 600px;
  background: #a1bbfc;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.layer {
  position: absolute;
  bottom: 0;

}

.cloud-sm{
  z-index: 1;
  height: 370px;
  width: 120px;
  background: top no-repeat url(img/cloud.svg);
  background-size: 120px;
  right: 150px;
}

.cloud-lg{
  z-index: 2;
  height: 550px;
  width: 180px;
  background: top no-repeat url(img/large-cloud.svg);
  background-size: 165px;
  left: 10px;
}

.mario {
  width: 80px;
  background: top no-repeat url(img/jumping-mario.svg);
  background-size: 170px;
  position: absolute;
  cursor: pointer;

  animation-name: jump;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes jump {
  0%{
    transform: translateY(30px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(30px);
  }
}

.mario.position1{
  z-index: 3;
  height: 510px;
  left: 200px;
  animation-duration: 1500ms;
}

.mario.position2{
  z-index: 5;
  height: 530px;
  right: 160px;
  animation-duration: 2000ms;
}

.mario.position3{
  z-index: 8;
  height: 350px;
  left: 120px;
  animation-duration: 1000ms;
}

.mario.position4{
  z-index: 12;
  height: 250px;
  right: 80px;
  animation-duration: 2500ms;
}

.pipe {
  width: 80px;
  background: top no-repeat url(img/pipe.svg);
  background-size: 70px;
}

.pipe.position1{
  z-index: 4;
  height: 490px;
  right: 340px;
}

.pipe.position2 {
  z-index: 6;
  height: 510px;
  left: 340px;
}

.layer-7 {
  z-index: 7;
  height: 500px;
  width: 400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: top no-repeat url(img/question-blocks.svg);
}

.pipe.position3 {
  z-index: 9;
  height: 330px;
  left: 100px;
}

.goomba {
  z-index: 10;
  height: 320px;
  width: 60px;
  left: 200px;
  background: top no-repeat url(img/goomba-left.svg);
  background-size: 40px;
}

.layer-11 {
  z-index: 11; 
  height: 285px;
  width: 350px;
  left: 30px;
  background: top no-repeat url(img/tree.svg);
  background-size: 270px;
  margin: 0 auto;
}

.pipe.position4 {
  z-index: 13;
  height: 230px;
  right: 100px;
}

.layer-14 {
  z-index: 14;
  height: 160px;
  width: 390px;
  right: -20px;
  background: top repeat url(img/blocks.svg);
  background-size: 130px;
}

.layer-15 {
  z-index: 15;
  height: 250px;
  width: 200px;
  background: top no-repeat url(img/castle.svg);
  background-size: 200px;
}

.layer-16 {
  z-index: 16;
  height: 140px;
  width: 200px;
  right: 230px;
  background: top no-repeat url(img/bushes.svg);
  background-size: 220px;
}

.layer-17 {
  z-index: 17;
  height: 112px;
  width: 300px;
  right: -40px;
  background: top no-repeat url(img/bush-blocks.svg);
  background-size: 300px;
}