body {
  counter-reset: game;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.selector:checked {
  counter-increment: game;
}

.counter::after {
  content: counter(game);
}

ul,
h2 {
  display: none;
}

.screen {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 600px;
  background: lightblue;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.layer {
  position: absolute;
}

.layer-1 {
  z-index: 1;
  height: 450px;
  width: 80px;
  background: green;
  bottom: 0;
  right: 320px;
}

.layer-2 {
  z-index: 2;
  height: 450px;
  width: 80px;
  bottom: 0;
  left: 320px;
  background: green;
}

.layer-3 {
  z-index: 3;
  height: 400px;
  width: 450px;
  bottom: 0;
  left: 0;
  right: 0;
  background: coral;
  margin: 0 auto;
}

.layer-4 {
  z-index: 4;
  height: 300px;
  width: 80px;
  bottom: 0;
  left: 100px;
  background: green;
}

.layer-5 {
  z-index: 5;
  height: 250px;
  width: 350px;
  bottom: 0;
  left: 30px;
  background: purple;
  margin: 0 auto;
}

.layer-6 {
  z-index: 6;
  height: 200px;
  width: 80px;
  bottom: 0;
  right: 100px;
  background: green;
}

.layer-7 {
  z-index: 7;
  height: 150px;
  width: 350px;
  bottom: 0;
  right: 30px;
  background: pink;
} 

.layer-8 {
  z-index: 8;
  height: 80px;
  width: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  margin: 0 auto;
}

.layer-9 {
  z-index: 9;
  height: 110px;
  width: 200px;
  bottom: 0;
  background: brown;
}

.layer-10 {
  z-index: 10;
  height: 110px;
  width: 200px;
  bottom: 0;
  right: 0;
  background: lightgreen;
}